body {
  font-family: sans-serif;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/images/ChatGPT Image 2025年5月7日 14_35_05.png');
  background-size: 50%;
  background-position: center;
}

main {
  flex: 1;
}


footer {
  color: black;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: grey;
  margin: 0 1rem;
  text-decoration: none;
}

.container {
  margin-top: 40px;
  text-align: center;
  background: transparent;
}

section {
  margin-bottom: 2rem;
}
